<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <%= render 'layouts/left-menu' %>
  <%= render 'layouts/right-menu' %>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
